@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --offcanvas-width: 300px;
}

.grey {
  color: #a5a5a5;
}

a {
  text-decoration: none;
  appearance: none;
}

body {
  background-color: #f4f5f7;
}

.sidebar-nav {
  width: var(--offcanvas-width);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
}

.navbar-toggler {
  background-color: none;
  border: none;
  border-radius: 0;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ######Side Bar######### */
.sidebar h4 {
  font-weight: 500;
}

.sidebar a {
  margin-left: 1rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.9rem;
  transition: all 300ms ease;
}

.sidebar a span {
  transition: all 300ms ease;
}

.sidebar a.active {
  background: transparent linear-gradient(270deg, #fff1e1 0%, #e29948 100%) 0%
    0% no-repeat padding-box;
  border-radius: 6px;
  margin-left: 0;
}

.sidebar a.active span {
  margin-left: 1rem;
}

.sidebar a:hover span {
  margin-left: 1rem;
}

.dropdown-container a {
  height: 1.5vh;
  font-size: 18px;
}

:-webkit-scrollbar {
  width: 12px;
}

/* #####Scroll bar#### */

::-webkit-scrollbar {
  width: 5px;
}

/* ############# Resources ############### */

.main-section {
  margin-left: 3rem;
  padding: 10px;
  margin-right: 1rem;
}
.card {
  border: none;
  border-radius: 2rem;
  box-shadow: 6px 6px 25px #1a365d1f;
  margin-top: 20px;
  height: 100%;
}

.card-header {
  border-radius: 2rem 2rem 0rem 0rem !important;
  height: 40%;
}

/* ################## Media Queries ####################### */
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    transform: none;
    visibility: visible !important;
  }

  main {
    margin-left: 370px !important;
  }
}

@media (max-width: 767.98px) {
  .column {
    flex-direction: column;
  }
}
